@import 'partials/colors';
@import 'partials/variable';
@import 'partials/mixins';
@import 'partials/common';
body {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  font-family: $din-next-400;
  max-width: 2550px;
  scroll-behavior: smooth;
}
 